[submodule "thirdparty/httpp"]
	path = thirdparty/httpp
	url = https://github.com/daedric/httpp/
[submodule "thirdparty/protog"]
	path = thirdparty/protog
	url = https://github.com/0x7f/protog
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "thirdparty/jsoncpp"]
	path = thirdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
